*{
    padding: 0px;
    margin: 0px;
}
.alinhar{
    position:relative;
    width: max-content;
    height: 100%;
    margin: auto;
}
#pricipal{
    margin-top: 10vh;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 100px solid black;
    text-align: center;
    transform: rotate(45deg);
    z-index: 0;
}
/*classes start*/
.pre_start{
    width: 100px;
    height: 100px;
    margin-bottom: -430px;
    margin-left: 50%;
    transform: translate(-50%);
}
#placar{
    height: 0px;
}
#one{
    width: 300px;
    height: 300px;
    margin-top: -600px;
    z-index: 1;
}
#two{
    width: 300px;
    height: 300px;
    margin-top: -300px;
    margin-left: 300px;
    z-index: 1;
}
#three{
    width: 300px;
    height: 300px;
    z-index: 1;
}
#four{
    width: 300px;
    height: 300px;
    margin-top:  -300px;
    margin-left: 300px;
    z-index: 1;
}