*{
    padding: 0px;
    margin: 0px;
}
.alinhar{
width: 100vw;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}
.vertcal{
    display: grid;
    grid-template-areas: 'one two' 'four three';
    grid-gap: 10px;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}
#pricipal{
    margin-top: 10vh;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 100px solid black;
    text-align: center;
    transform: rotate(45deg);
    z-index: 0;
}
/*classes start*/
.pre_start{
    width: 70px;
    height: 70px;
}
#placar{
    height: 0px;
}
#one{
    grid-area: one;
    border-top-left-radius: 100%;
    background-color: green;
}
#two{
    grid-area: two;
    border-top-right-radius: 100%;
    background-color: red;
}
#three{
grid-area: three;
   border-bottom-right-radius: 100%;
   background-color: yellow;
}
#four{
    grid-area: four;
    border-bottom-left-radius: 100%;
    background-color: blue;
}
#painel{
    width: 90%;
    height: 100px;
    display: block;
    margin: auto;
    text-align: center;
}
@keyframes ending {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.itens{
    display: inline-block;
}