*{
    padding: 0px;
    margin: 0px;
}
.alinhar{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.vertcal{
    display: grid;
    grid-template-areas: 'one two' 'three four';
    grid-gap: 10px;
    border: 1px solid black;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}
#pricipal{
    margin-top: 10vh;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 100px solid black;
    text-align: center;
    transform: rotate(45deg);
    z-index: 0;
}
/*classes start*/
.pre_start{
    width: 100px;
    height: 100px;
    margin-bottom: -430px;
    margin-left: 50%;
    transform: translate(-50%);
}
#placar{
    height: 0px;
}
/*#one{
    border-radius: 100%
}
#two{
    border-radius: 100%
}
#three{
   border-radius: 100%
}
#four{
    border-radius: 100%
}*/