*{
    padding: 0px;
    margin: 0px;
}
.alinhar{
width: 100vw;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}
.vertcal{
    display: grid;
    grid-template-areas: 'one two' 'four three';
    grid-gap: 10px;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}
/*classes start*/
.pre_start{
    width: 70px;
    height: 70px;
    display: inline;
    margin: 10px;
}
#placar{
    height: 0px;
}
#one{
    grid-area: one;
    border-top-left-radius: 100%;
    background-color: green;
}
#two{
    grid-area: two;
    border-top-right-radius: 100%;
    background-color: red;
}
#three{
grid-area: three;
   border-bottom-right-radius: 100%;
   background-color: yellow;
}
#four{
    grid-area: four;
    border-bottom-left-radius: 100%;
    background-color: blue;
}
#painel{
    width: 90%;
    height: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes ending {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes not {
    0%{
        background-color: white;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: white;
    }
}
.itens{
    display: inline-block;
    margin: 10px;
}
.resultado{
    position: fixed;
    width: 100%;
    height: 10vh;
    margin-top: 40%;
    text-align: center;
    font: normal normal 2em times,serif;
}
@media (max-width: 700px) {
    .vertcal{
        width: 500px;
        height: 500px;
    }
}
@media (max-width: 400px) {
    .vertcal{
        width: 300px;
        height: 300px;
    }
}